/* entire container, keeps perspective */
.flip-container {

	-webkit-perspective: 1000;
	perspective: 1000;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {

		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {

		-webkit-transform: rotateY(180deg);
	    transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 180px;
	height: 250px;
}

/* flip speed goes here */
.flipper {

	-webkit-transition: 0.6s;
	transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	/*background: lightgreen;*/

	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	/*background: lightblue;*/

	-webkit-transform: rotateY(180deg);
	transform: rotateY(-180deg);
}

.front img{
	max-width:180px; 
	max-height:220px;
	margin: 0px
}

.back img{
	max-width:180px; 
	max-height:220px;
	margin: 0px
}

