.image_tile {
	position: relative;
	/*float: left;*/
	/*margin: 0px;
	width: 100px;
	height: 150px;*/
}
.flip-container {
	float:left;
}

#back_content {
	background: #3299CC;
	border: 1px solid #344152;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	height: 220px;

}